<style>

</style>
<main class="main">
  <div class="content">
    <div class="logo">
      <h1 class="label">Выберите </h1>
      <h2 class="label" id="second_label">Способы входа</h2>
    </div>
    <div class="button_container">
      <button class="button">Войти с помощью смс</button>
      <div>
<!--        <div class="divider"></div>-->
        <label class="or" style="font-weight: normal">или</label>
<!--        <div class="divider"></div>-->
      </div>

      <button class="button"><a routerLink="/login">Войти с помощью пароля</a></button>
    </div>
  </div>
</main>
<router-outlet />
